{% extends 'main/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="p-5 mb-4 bg-info text-dark rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">О Каякинге</h1>
            <p class="col-md-8 fs-4">Каякинг — это не просто спорт, это стиль жизни, который позволяет наслаждаться
                природой и исследовать новые горизонты.</p>
        </div>
    </div>

    <section class="mb-5">
        <h2 class="mb-3">История Каякинга</h2>
        <p>Каякинг имеет древние корни, уходящие в культуру народов Арктики, которые использовали каяки для охоты и
            передвижения по воде. Современные каяки значительно эволюционировали, но сохранили свою уникальную
            маневренность и легкость.</p>
    </section>

    <section class="mb-5">
        <h2 class="mb-3">Популярность Каякинга</h2>
        <p>С каждым годом каякинг становится все более популярным. Люди всех возрастов и уровней подготовки могут найти
            удовольствие в этом увлекательном виде спорта, будь то спокойное катание по озерам или экстремальные спуски
            по горным рекам.</p>
    </section>
</div>
{% endblock %}
